html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: FilsonProBook, sans-serif;
}

/* Fonts */
@font-face {
    font-family: FilsonProBook;
    src: url("../fonts/Filson_Pro_Book/Mostardesign_FilsonProBook.otf") format("opentype");
}

#mainDiv {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

#mainCanvas {
    margin-top: 50px;
}

#progressCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#buttonDiv {
    display: block;
    margin: 30px 0 0 0;
}

#buttonDiv > button {
    width: 25%;
    border: none;
    background-color: #4bc6d5;
    font-size: 3rem;
    min-height: 193px;
    display: block;
    margin: 7px auto;
    border-radius: 116px;
}

#counter, #breatheMessage {
    padding-top: 0;
    font-size: 4.5rem;
    text-align: center;
}

#defaultCanvas1 {
    width: 99%;
}

#defaultCanvas2 {
    margin: 0 auto;
    display: block;
}

#restartButton {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 10%;
    font-size: 3rem;
    background-color: #4bc6d5;
    border: 0;
    font-weight: bold;
}

#breatheForm {
    text-align: center;
    margin: 6rem 0 0 0;
    font-size: 3rem;
    display: none;
}

#breatheSeconds {
    font-size: 3rem;
    padding: 0.5em;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    #buttonDiv > button {
        font-size: 3rem;
        width: 25%;
        border: none;
        background-color: #4bc6d5;
        min-height: 210px;
        display: block;
        margin: 7px auto;
        border-radius: 116px;
    }
    #buttonDiv {
        padding-top: 30px
    }
}