html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mainDiv {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

#buttonDiv {
    display: flex;
    margin: 0;
}

#buttonDiv > button {
    width: 25%;
    height: 49px;
    border: none;
    background-color: #4bc6d5;
}

.activeB {
    background-color: #4167c8 !important;
}

@media (min-device-width: 500px)  {
    #buttonDiv > button {
        font-size: 16px;
    }
}

@media (min-device-width: 300px) and (max-device-width: 500px) {
    #buttonDiv > button {
        font-size: 24px;
    }
}