html, body {
    margin: 0;
    padding: 0;
}

#mainDiv {
    display: flex;
}

canvas, #buttonDiv {
    margin: auto auto;
}

#buttonDiv {
    width: 100px;
}

#buttonDiv button {
    margin: 20px 0 0 0;
    width: 100%;
}

#mainMessage {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 2em;
}

#colourDiv {
    width: 100%;
    text-align: center;
}

#colourDiv > button {
    width: 20%;
    border: 0;
    height: 8em;
}

#buttonDiv {
    width: 100%;
    text-align: center;
}

#buttonDiv > button {
    width: 25%;
    font-size: 2em;
}

.success {
    color: green;
    font-weight: bold;
}

.fail {
    color: darkred;
    font-weight: bold;
}

#resultPanel {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    font-size: 2em;
    background-color: aliceblue;
    font-family: 'Indie Flower', cursive;
}