html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: FilsonProBook, sans-serif;
}

/* Fonts */
@font-face {
    font-family: FilsonProBook;
    src: url("../fonts/Filson_Pro_Book/Mostardesign_FilsonProBook.otf") format("opentype");
}

h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 4rem;
}

#mainDiv {
    margin-top: 0;
}

#mainDiv, canvas {
    display: block;
}

canvas, #buttonDiv {
    margin: auto auto;
}

#buttonDiv {
    width: 100px;
}

#buttonDiv button {
    margin: 20px 0 0 0;
    width: 100%;
}

#mainMessage {
    font-family: FilsonProBook, sans-serif;
    text-align: center;
    /*font-size: 2em;*/
}

#colourDiv {
    width: 100%;
    text-align: center;
}

#colourDiv > button {
    width: 20%;
    border: 0;
    height: 4em;
}

#buttonDiv {
    width: 100%;
    text-align: center;
}

#buttonDiv > button {
    width: 25%;
    font-size: 2em;
    background-color: #45d0d7;
    border: 0;
    color: white;
    border-radius: 50px;
}

.success {
    background-image: url("../images/memory/success.png");
    background-color: #f2fae3;
}

.fail {
    background-image: url("../images/memory/fail.png");
    background-color: #fce4e1;
}

.success, .fail {
    background-repeat: no-repeat;
    background-size: 100px, 100px;
    height: 50px;
    border-radius: 50px;
    color: black;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: 18px 0 0 40px;
    background-position-x: 20px;
    background-position-y: 85px;
}

.success span, .fail span {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    display: block;
    text-align: left;
    margin-left: 95px;
}

#successCountdown {
    margin-top: 0;
    color: white;
}

#resultPanel {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    font-size: 2em;
    font-family: FilsonProBook, cursive;
}

#resultPanel .successful {
    background-color: #8adce2;
}

#resultPanel .failed {
    background-color: #eeeeee;
}

#resultPanel .successful, #resultPanel .failed {
    border-radius: 60px;
    margin: 1px 1px;
    padding: 13px 20px;
}

#resultPanelGrid {
    display: flex;
    margin: -15px 0 0 0;
}

#resultPanelGrid span {
    width: 20px;
    text-align: center;
    padding: 12px 3px 0 6px;
}

#resultPanelGrid sep {
    padding-top: 2px
}

#yourScore {
    font-size: 24px;
    color: #abd3d5;
    text-align: center;
    margin-top: 3px;
}

/* Portrait and Landscape */
@media screen
and (max-width: 1024px) and (orientation: portrait) {

    #colourDiv {
        margin: 90px 0
    }

    #colourDiv > button {
        height: 9em;
        width: 30%;
    }
    #mainMessage, #mainMessage > p {
        font-size: 46px !important;
        height: 250px;
        line-height: 1.3;
        margin: 60px auto 2rem -14px;
    }

    #buttonDiv, #buttonDiv > button {
        width: 95%;
        margin: 40px auto;
    }

    #buttonDiv > button {
        background-color: #45d0d7;
        border: 0;
        color: white;
        border-radius: 100px;
        /* height: 80px; */
        padding: 35px 0;
        font-size: 3.5rem;
    }

    .firstButton {
        border-radius: 100px 0 0 100px;
    }

    .lastButton {
        border-radius: 0 100px 100px 0;
    }

    #mainDiv {
        margin: 20px 10%
    }
}

