.dice {
    font-size: 2em
}

#defaultCanvas0 {
    float: left;
    margin-right: 10px;
}

.virtue {
    color: #87cc01;
}

.weakness {
    color: crimson;
}
#playerNumInput {
    width: 40px;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hiddenFadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}